//sidebar styles
$sidebar-bg: rgba(19, 21, 40, .9);
$sidebar-font: #fff;



//control dots colors
$dot-red: #ff594f;
$dot-yellow: #ffbc1b;
$dot-green: #00cd46;


//navigation active element
$navi-active:rgba(41, 42, 72, .5);
$navi-notification-num: #8a8995;

//issue container styles
$issue-container-bg: #f6f6f6;
$issue-bar-bg: #fff;
$issue-bar-border: #e0e0e0;
$issue-star-color: #ada1a1;
$issue-star-active: #000;


