<nav class="app-navigation">
    <ul>
         @@loop('src/html/partials/navi-item.html', [ 
            {
                "icon_class" : "icon-github",
                "filter_text" : "All",
                "notification_amount" : "12",
                "active" : "true"
            },
            {
                "icon_class" : "icon-open-issue",
                "filter_text" : "Open",
                "notification_amount" : "4"
            },
            {
                "icon_class" : "icon-closed-issue",
                "filter_text" : "Closed",
                "notification_amount" : "8"
            }
        ])
    </ul>
</nav>